@font-face {
    font-family: 'Reckless';
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/RecklessNeue-Light.woff2') format('woff2'),
        url('../fonts/RecklessNeue-Light.woff') format('woff');
}

@font-face {
    font-family: 'DM Sans';
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/DMSans-Regular.ttf') format('ttf');
}